h1{
    font-family: "Roboto Mono", monospace;
}
@media (min-width:1250px){
    span{
        font-size: 35px;
    }
    .dot-span{
        font-size:100px;
    }
    .content{
        margin-left: 100px;
    }
     
  }

  @media (max-width:750px){
    .profile img{
        width: 200px;
    }
    .content p{
        text-align:center;
        
    }
    h1{
        text-align: center;
    }
    

  }